title: Java Web Developer
subtitle: Phát triển web sử dụng Java và các công nghệ liên quan
description: >- # this means to ignore newlines until "baseurl:"
  devlopr-jekyll is a beautiful Jekyll Theme Built For Developers, which is optimized for speed and readability.

url: "http://localhost:4000" # the base hostname & protocol for your site, e.g. https://example.github.io
baseurl: "" # the subpath of your site, e.g. /blog

# Navigation
urls:
    - text: Home
      url: /
    - text: About
      url: /about
    - text: Blog
      url: /blog
    - text: Gallery
      url: /gallery
    - text: Shop
      url : /shop
    - text: Contact
      url : /contact


# Edit Author details (For multi authors check _data/authors.yml)

author_logo: linh.jpg
author: Dương Thế Linh
author_bio: Cảm ơn bạn đã ghé thăm. Mình là Linh - Java developer và lơ mơ một số thứ khác nữa.
author_email: "linhktqd54@gmail.com"
author_location: vietnam
author_website_url: "https://linhktqd.github.io"
typewrite-text: devlopr is a jekyll framework built for developers. You can edit this in _config.yml file

# Experiences
author_work_experiences:
            - company_name: Khối CNTT - Tổng công ty viễn thông Viettel
              company_logo: viettel.png
              company_url: https://www.samsungsds.com/
              designation: Developer
              description: Dự án&#58; 
                           <br />
                            - Hệ thống Product Catalog<br />
                            - Hệ thống API Gateway<br />
                            - Hệ thống kiểm soát biên bản<br />
                            - Hệ thống quản lý cấu hình CDR Mediation <br />
                            - Case mới kiểm soát doanh thu dịch vụ tin nhắn di động
              visibility: true
            - company_name: SAMSUNG SDS VIETNAM CO., LTD
              company_logo: sds.jpg
              company_url: https://www.samsungsds.com/
              designation: Developer
              description: Dự án&#58; <br />
                            - Web SVP ( Samsung Viet Nam Portal )<br />
                            - SEV/SEVT RPA (Robotic process automation)<br />
                            - SMS AGV(Shelf Managerment System - Auto Guided Vehicle )<br />
              visibility: true
            - company_name: NEXTTECH GROUP
              company_logo: nexttech.png
              company_url: https://nexttech.asia/
              designation: Research & Development
              description: Dự án&#58; Facebook 360
              visibility: true

# Education
author_education_details:
              - college_logo: NEU.png
                college_name: NEU
                college_url: https://neu.edu.vn
                college_degree: Công nghệ thông tin
                description: GPA &#58; 3.26/4<br />
                             Xếp loại&#58; Giỏi
                visibility: true

author_education_details2:
              - college_logo: NEU.png
                college_name: NEU
                college_url: https://neu.edu.vn
                college_degree: Kế toán tổng hợp
                description: GPA&#58; 2.78/4
                             <br />Xếp loại&#58; Khá
                visibility: true

# Projects
author_project_details:
              - project_thumbnail: gamershub.png
                project_title: Facebook 360
                project_description: Dự án đánh giá độ tin cậy của người dùng dựa vào các thông tin lấy từ tài khoản người dùng và các ứng dụng liên quan.
                project_url: https://vaymuon.vn
                visibility: true
              - project_thumbnail: facebook.png
                project_title: Hack4r
                project_description: A Platform built for Hackers and Penetration Testers
                project_url: https://hack4r.com
                visibility: true

# social links
twitter_username: johndoe
github_username:  linhktqd
facebook_username: johndoe
linkedin_username: dương-thế-linh-2b0176170
behance_username: johndoe
instagram_username: johndoe
medium_username: johndoe
telegram_username: Linhdt50
dribbble_username: johndoe
flickr_username: johndoe

#for comments ( we got Disqus and Hyvor Commenting, uncomment the one you want to use )

# disqus_shortname: sujay-kundu
hyvor_talk_website_id: 476

# wakatime username (coding activity)
wakatime_username: sujaykundu777

# mailchimp embedded form url (newsletter):
mailchimp_form_url: https://sujaykundu.us10.list-manage.com/subscribe/post?u=50bab1c85eae24ecfb0f68361&amp;id=3a2dd721d0

# contact form - (choose formspress or getform)
getform_endpoint: 83b703c3-9e47-4df4-ac55-e24d7eb02abc
formspree_email: johndoe@gmail.com

# releases - widget can be (sidebar, modal or embed)
olvy_organization: devlopr
olvy_widget_type: sidebar

# syntax highlighter
markdown: kramdown
highlighter: rouge
permalink: pretty

# Choose what to show ( can be true or false)
show_author_work_experiences: true
show_author_education_details: true
show_author_project_details: true

# pagination of posts
paginate: 4
per_page: 4
paginate_path: "/blog/page/:num/"

# minify
# compress_html:
#   clippings: all
#   comments: ["<!-- ", " -->"]
#   endings: all
#   ignore:
#     envs: ['development']

# Archives
# jekyll-archives:
#   enabled:
#     - categories
#   layout: archive
#   permalinks:
#     category: '/category/:name/'

collections:
  products:
    output: true
  authors:
    output: true

defaults:
  -
    scope:
      path: "gallery"
    values:
      permalink: /:path/:basename:output_ext
  -
    scope:
      path: ""
      type: authors
    values:
      layout: author
      permalink: /blog/authors/:slug

# Build settings
plugins:
  - jekyll-paginate
  - jekyll-gist
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-menus
  - jekyll-admin

# Jekyll Admin Config
jekyll_admin:
  # hidden_links:
  #   - posts
  #   - pages
  #   - staticfiles
  #   - datafiles
  #   - configuration
  homepage: "posts"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

destination: ./build
