{% if site.show_author_certificate_details == true %}
    <div id="author_projects" class="card">
      <h1 class="card-title">Certificate</h1>
      <br />
      {% for certificate in site.author_certificate_details %} 
        {% if certificate.visibility == true %}
        <div class="row" id="project-card">
          <div class="col-md-12 center">
            <h4 class="experience-title">{{ certificate.year }}</h4>
            <h6 class="experience-info">{{ certificate.name}}</h6>
          </div>
        </div>
        <br />
        {% endif %}
      {% endfor %}
    </div>
    {% endif %} 