{% if site.show_author_education_details == true %}
    <div class="card">
      <h1 class="card-title">Certificate</h1>
      <br />
      {% for detail in site.author_certificate %} 
        {% if detail.visibility== true %}
        <div class="row">
          
            <div class="responsive-table">
                <table>
                      <thead>
                        <tr>
                          <th scope="col">Năm</th>
                          <th scope="col">Tên chứng chỉ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{detail.cert_year}}</td>
                          <td>{{detail.cert_name}}</td>
                          
                        </tr>
                       
                      </tbody>
                    </table>
                    </div>
        </div>
        {% endif %} 
      {% endfor %}

      
    </div>
    {% endif %}