---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

#profile-card .profile-img {
    width: 150px;
    height: 230px;
    margin-left: none;
    border-radius: none;
}

.company-logo {
    width: 100px;
    height: 126px;
}