---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

#profile-card .profile-img {
    width: 160px;
    height: 235px;
    margin-left: 0;
}

.company-logo {
    width: 100px;
    height: 126px;
}