---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */
#profile-card .profile-img {
    width: 200px;
    height: 280px;
    margin-left: 20px;
    border-radius: 50%;
}


.company-logo {
    width: 100px;
    height: 123px;
}